[Unit]
Description=Call osm2pgsql replication script

[Service]
Type=simple
User=root
Group=root
Environment="PATH=/usr/local/bin:/usr/bin:/bin"
ExecStart=/replication/scripts/replicate-loop.sh
